@import './base/variables';
@import './blocks/title';

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: $first-color;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@import './blocks/nav';
@import './blocks/promo';