section {
  margin-top: 50px;
  background-color: $first-color;

}
.promo {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    align-self: flex-start;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
    img {
      width: 80%;
      border-radius: 30px;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
      margin-top: 30px;
      position: relative;
      p {
        &::before {
          content: "";
          position: absolute;
          top: 110px;
          left: -70px;
          width: 116px;
          height: 5px;
          background: linear-gradient(90deg, $second-color 0%, $fourth-color 100%);
          border-radius: 2px;
          transform: rotate(-90deg);
        }
      }
    }
  }
  &__icons {
    p {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.svg {
  width: 60px;
  margin-right: 5px;
  &:hover {
    animation: icons .5s;
  }
}

@keyframes icons {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}
